@tailwind base;
@tailwind components;
@tailwind utilities;

  .scroll-container::-webkit-scrollbar {
    display: none;
  }
  
  /* Set up the container with overflow and other styles */
  .scroll-container {
    width: 100%; /* Set your desired width */
    overflow-x: auto; /* Enable horizontal scroll */
    white-space: nowrap; /* Prevent text wrapping */
  }
  
  .scroll-content {
    padding: 10px; /* Optional: add padding for better readability */
  }


  .scroll-containerExpand::-webkit-scrollbar {
    display: none;
  }
  .scroll-containerExpand {
    overflow-y: auto;
    width: 100%,
  }
  
 .slide-left-custom {
	-webkit-animation: slide-left-custom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate-reverse both;
	animation: slide-left-custom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate-reverse both;
}
 @-webkit-keyframes slide-left-custom {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}
@keyframes slide-left-custom {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}

  