@tailwind base;
@tailwind components;
@tailwind utilities;

  .scroll-container::-webkit-scrollbar {
    display: none;
  }
  
  /* Set up the container with overflow and other styles */
  .scroll-container {
    width: 100%; /* Set your desired width */
    overflow-x: auto; /* Enable horizontal scroll */
    white-space: nowrap; /* Prevent text wrapping */
  }
  
  .scroll-content {
    padding: 10px; /* Optional: add padding for better readability */
  }


  .scroll-containerExpand::-webkit-scrollbar {
    display: none;
  }
  .scroll-containerExpand {
    overflow-y: auto;
    width: 100%,
  }
  
 .slide-left-custom {
	-webkit-animation: slide-left-custom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate-reverse both;
	animation: slide-left-custom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate-reverse both;
}
 @-webkit-keyframes slide-left-custom {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}
@keyframes slide-left-custom {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}

.loader {
  width: 20px;
  height: 20px;
  border: 3px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-right: 10px;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 
// new
.splash-image {
  width: 100%; /* Adjust the width as needed */
  animation: zoomIn 3s; /* Zoom in animation */
}

@keyframes zoomIn {
  0% {
      transform: scale(1.5); /* Initial size (slightly larger) */
  }
  100% {
      transform: scale(1); /* Zoomed in size (original size) */
  }
}


.loaderFooter {
  width: 48px;
  height: 48px;
  border: 3px dotted #FFF;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.loaderFooter::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted #FF3D00;
  border-style: solid solid dotted;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
} 

  